.team {
    padding-top: 20px;
    padding-bottom: 8px;

  }
  
  .team-container {
    max-width: 6xl;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .team-header {
    text-align: center;
    margin-bottom: 12px;
  }
  
  .team-title {
    font-size: 2xl;
    line-height: normal;
    margin-bottom: 2px;
    font-weight: bold;
    color: rgb(var(--ink-subtle));
  }
  
  .team-subtitle {
    color: rgb(var(--ink-muted));
    font-weight: 300;
  }
  
  .team-icon {
    margin: 0 auto;
    height: 35px;
  }
  
  .team-member {
    flex-shrink: 0;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2.5rem;
  }
  
  .team-card {
    position: relative;
    overflow: hidden;
    background-color: white;
    margin-bottom: 12px;
  }
  
  .team-hover {
    transition: filter 0.5s ease;
  }
  
  .team-hover:hover {
    filter: grayscale(0);
  }
  
  .team-img-container {
    position: relative;
    overflow: hidden;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  .team-img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 9999px;
    background-color: rgb(var(--surface-light));
    filter: grayscale(100%);
  }
  
  .team-content {
    padding-top: 0.5rem;
  }
  
  .team-name {
    font-size: lg;
    line-height: normal;
    font-weight: bold;
    margin-bottom: 0.25rem;
    color: rgb(var(--ink-subtle));
  }
  
  .team-role {
    color: rgb(var(--ink-muted));
    font-weight: 300;
  }
  
  .team-social {
    margin-top: 0.5rem;
    margin-bottom: 1.25rem;
    display: flex;
    justify-content: center;
  }
  
  .team-link {
    color: rgb(var(--ink-muted));
    transition: color 0.3s ease;
  }
  
  .team-link:hover {
    color: rgb(var(--color-indigo-600));
  }
  
